
* {
    border: 1px solid red; /* pour visualiser les boîtes */
}

#title { color: #498ce1; font-size: 50px; }
h1 {text-align:center;}
h3 {font-style: italic;}
#p1 {text-align:center; font-size: 20px;}
#p2 {font-size: 20px;}

.Card {text-align: center; display:flex; justify-content: center; 
    align-items: center;}

.box-flex {display: flex; 
    flex-direction: row; 
    gap: 100px; 
    justify-content: center;
    background-color: #F5FBFF; 
    margin: 10px; padding: auto;
    border: 1px solid #152b48;
    border-radius: 14px;
}

.InfoBox-flex { display: flex;
  flex-direction: column;
  background-color: #F5FBFF; 
  width: 30%;
  padding: 60px 20px;
  border: 1px solid #152b48;
  border-radius: 14px;
  text-align: center;}

.Pic {width: 150px; 
    height: 300px; 
    padding:10px 20px; 
    border: 1px solid #152b48;
    border-radius: 14px;}     

.btn {border-radius: 10px; background-color: #498ce1; color: white; }

#p3 {font-size: 20px;}

.Mnt-Grid {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 20px;
}


.grid-card {
  background: white;

  border: 1px solid #e2e8f0;

  border-radius: 14px;


  transition: transform 0.2s;
}


.grid-card:hover {
  transform: translateY(-5px);
}


.grid-card img {
  width: 100%;

  height: 180px;

  object-fit: cover;

  display: block;
}


.grid-content {
  padding: 20px;
}


.grid-content h3 {
  color: #2563eb;
}


.grid-content p {
  color: #050505;

  margin-bottom: 0;
}

@media screen and (max-width: 576px) {

  h1 {
    font-size: 30px;
  }
.Mnt-Grid {
    grid-template-columns: 250px 250px;
  }}